.loupe {
    -fx-background-color : rgba(80, 80, 80, 0.5);
    -fx-background-insets: 0 2 0 2;
    -fx-scale-shape      : true;
    -fx-shape            : "M 47.1211 44.9996 L 45 47.1209 C 44.4375 47.684 43.6743 48 42.8789 48 C 42.0828 48 41.3196 47.684 40.7571 47.1215 L 27.1406 33.505 C 24.4614 35.0883 21.3376 36 18 36 C 8.0588 36 0 27.9412 0 18 C 0 8.0588 8.0588 0 18 0 C 27.9412 0 36 8.0588 36 18 C 36 21.3378 35.0881 24.4612 33.5054 27.141 L 47.1211 40.7571 C 48.293 41.9286 48.293 43.8281 47.1211 44.9996 ZM 18 30 C 24.627 30 30 24.6273 30 18 C 30 11.3727 24.627 6 18 6 C 11.3723 6 6 11.3727 6 18 C 6 24.6273 11.3723 30 18 30 Z";
}

.cross-button {
    -fx-background-color : rgba(80, 80, 80, 0.5);
    -fx-background-insets: 0 2 0 2;
    -fx-scale-shape      : true;
    -fx-shape            : "M24,0 C37.255,0 48,10.745 48,24 C48,37.255 37.255,48 24,48 C10.745,48 -0,37.255 -0,24 C-0,10.745 10.745,0 24,0 z M32.839,11.626 L24,20.465 L15.161,11.626 L11.626,15.161 L20.464,24 L11.626,32.839 L15.161,36.374 L24,27.535 L32.839,36.374 L36.374,32.839 L27.535,24 L36.374,15.161 z";
}